node_modules
.vscode
.nx
.husky
coverage
dist
packages/vue-core/types
packages/vue-core/ui-kit
packages/icons/lib
.eslintrc.js
**/histoire.setup.ts
**/vite.config.ts
**/vitest.config.ts
**/test-setup.ts
**/test-global.ts
**/histoire.config.ts
target
shims-vue.d.ts

